[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.6'

[packages]
py-trello = '*'
'github3.py' = '*'
pyyaml = '*'

[dev-packages]
pytest = '*'
